body {
    /* background-color: #E0DECF; */
    background: url(../img/metalbg.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
 
.main{
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    height: 100%;
}

.wrap{
    border-style: solid;
    border-radius: 10px;
    border-color: #868885;
    height: 60vh;
    width: 40vh;
    margin: auto;
    background-color: rgba(224,222,207,0.7);
    box-shadow: 17px 17px 27px 1px rgba(0,0,0,0.2),-17px -17px 27px 1px rgba(255,255,255,0.2);

}
.radialSpeaker {
    width: 400px;
    height: 400px;
}

.number {
    font-family: 'PT Mono', monospace;
    display: flex;

}

h5, h4, h3, h6, h1, p {
    font-family: 'STIX Two Text', serif;
    color: #868885;
}

.digit {
    color: #868885;
    background-color: #0C0904;
    width: 48px;
    height: 64px;
    text-align: center;
    font-size: 2.4em;
    border-radius: 8px;
}

.seconds {
    /* display: inline-block; */
}

.buttonText{
    margin-top: 4em;
}

.btn {
    height: 64px;
    width: 64px;
    box-shadow: 21px 21px 16px -16px rgba(0,0,0,0.2);
}

.btn-warning {
    border-radius: 100%;
    
}

.btn-danger {
    border-radius: 100%;
}

