body {
    /* background-color: #E0DECF; */
    background: url(../img/metalbg.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
 
.main{
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    height: 100%;
}

.wrap{
    border-style: solid;
    border-radius: 10px;
    border-color: #868885;
    height: 680px;
    width: 480px;
    margin: auto;
    background-color: rgba(224,222,207,0.7);
    box-shadow: 17px 17px 27px 1px rgba(0,0,0,0.2),-17px -17px 27px 1px rgba(255,255,255,0.2);

}
.radialSpeaker {
    width: 400px;
    height: 400px;
}

.number {
    font-family: 'PT Mono', monospace;
    display: flex;

}

h5, h4, h3, h6, h1, p {
    font-family: 'STIX Two Text', serif;
    color: #868885;
}

.digit {
    color: #868885;
    background-color: #0C0904;
    width: 48px;
    height: 64px;
    text-align: center;
    font-size: 2.4em;
    border-radius: 8px;
}

.buttonText{
    margin-top: 4em;
}

.buttondiv {
    padding-top: 80px;
}

td {
    width: 50%;
}

a {
    text-decoration: none;
    color:transparent;

  }
  
  a:hover {
    text-decoration:underline;
  }
  
  a:focus { 
    outline: none;
  }
  
  
  .nav li:before {
    content: "";
    display: block;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: -1;
  }
  
  .nav a:link, .nav a:visited {
    display: block;
    margin: 36px;
    width: 96px;
    height: 96px;
    position: relative;
    text-align: center;
    line-height: 96px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    border: solid 1px transparent;
  }

  .reset {
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#A91F24), to(#6B0D14));
    background-image: -webkit-linear-gradient(top, #A91F24, #6B0D14); 
    background-image: -moz-linear-gradient(top, #A91F24, #6B0D14); 
    background-image: -ms-linear-gradient(top, #A91F24, #6B0D14); 
    background-image: -o-linear-gradient(top, #A91F24, #6B0D14); 
    color: #fff; /* Color del icono */
  }

  .pause {
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6F662A), to(#353015));
    background-image: -webkit-linear-gradient(top, #6F662A, #353015); 
    background-image: -moz-linear-gradient(top, #6F662A, #353015); 
    background-image: -ms-linear-gradient(top, #6F662A, #353015); 
    background-image: -o-linear-gradient(top, #6F662A, #353015); 
    color: #fff; /* Color del icono */
  }
  
  .nav a:before {
    content: "";
    display: block;
    background: #C1BCA7;
    border-top: 2px solid #868885;
    position: absolute;
    top: -18px;
    left: -18px;
    bottom: -18px;
    right: -18px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: inset 0px 8px 48px #D5D1BF;
  }
  
  .nav a:active {
    box-shadow: none;
    border: solid 1px #a7a7a7;
  }
  
  /* .nav a:hover {
    text-decoration: none;
    color: #555;
    background: #66625D;
  } */


  .pause:hover {
    text-decoration: none;
    color: #D5D1BF;
    background: #282519;
  }

  .reset:hover {
    text-decoration: none;
    color: #D5D1BF;
    background: #470B12;
  }